@media screen and (max-width: 768px) { /* Bootstrap's mobile view breakpoint */
    .navbar-light {
      position: relative !important;
    }
}

.styling-link {
  margin-left: 10px;
  padding: 15px;
  display: inline-block;
  line-height: 20px;
  text-decoration: none;
  color: black
}


