.discount{
    background-color: red;
    width: 20%;
    text-align: center;
    color: white;
    font-weight: bold;
    position: absolute;
    right: 0;
    top: 20px;
}

.img-click {
    cursor: pointer
}

.styling-imageawal {
    background: url('https://images.pexels.com/photos/2748756/pexels-photo-2748756.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-position: center;
    background-size: 700px;
    padding: 150px 0 0
}