.discount{
    background-color: red;
    width: 20%;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 15px;
    position: absolute;
    right: 0;
    top: 20px;
}

.product-name {
    width: 100%;
    text-align: left;
    font-size: 15px;
    position: absolute;
    top: 200px;
}

.img-click {
    cursor: pointer
}

.food-container {
    height: 80vmax
}