.background-main-admin {
    background:  #FCFAFA
}

.card-main {
    padding: 170px 0 100px
}

@media screen and (max-width: 768px){
    .card-main-mobile {
        padding: 150px 0 0 !important
    }
}